
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="jumbotron">


    <h2> About</h2>

 
        <div class="panel">
            <div class="panel-heading" style="background-color:black;color:white">
                <span>
                    Our Team
                </span>
            </div>
            <div class="panel-body" style="background-color:lightblue">
                <span>
                    This application is developed by Prashant tripathi,
                    Please contact prasant.tripathi@infosys.com for any details
                </span>
            </div>
        </div>

    <div class="panel">
        <div class="panel-heading" style="background-color:black;color:white">
            <span>
                Technology Used
            </span>
        </div>
        <div class="panel-body" style="background-color:lightblue">

            <ul>
                <li>ASP.NET MVC</li>
                <li>Entity Framework</li>
                <li>Jquery and Ajax</li>
                <li>Bootstrap</li>
                <li>HTML 5 and CSS3</li>
                <li>WebApi</li>
                <li>Javascript</li>
                <li>SSIS</li>
            </ul>

        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" style="background-color:black;color:white">
            <span>
                Features
            </span>
        </div>
        <div class="panel-body" style="background-color:lightblue">

            <ul>
                <li>Online voting</li>
                <li>Data storage</li>
               
            </ul>

        </div>
    </div>



    </div>

