@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<body style="background-color:lightskyblue">


    <div class="jumbotron" style="background-color:lightskyblue">

        <span class="h2"> We are here for you </span>
        <br />
      
        <div class="container">
            <div class="row">

                <div class="panel-heading" style="background-color:lightskyblue;color:red">
                    <span>
                        Online Help
                    </span>
                </div>
                <div class="panel-body" style="background-color:lightgreen">
                    <span>
                        Download our manual for more understnding from here <a href="" onclick="false">Click Here</a>
                    </span>


                </div>
            </div>
            <div class="row">
                
                <div class="panel-heading" style="background-color:lightskyblue;color:red">
                    <span>
                        Reach out to our customer care
                    </span>
                </div>
                <div class="panel-body" style="background-color:lightgreen">
                    <span>
                        call toll free : 1800123456789
                    </span>


                </div>
            </div>
            <div class="row">

                <div class="panel-heading" style="background-color:lightskyblue;color:red">
                    <span>
                        Direct Contact
                    </span>
                </div>
                <div class="panel-body" style="background-color:lightgreen">
                    <span>
                        Name:   Prashant Tripathi <br />
                        Email :  prasant_tripathi@infosys.com/prashant30191@gmail.com<br />
                        contact : 07379608294<br />
                        Address : BTM Layout ,Bangalore
                    </span>


                </div>
            </div>
           
        </div>
        </div>
    </body>

