@{
    ViewBag.Title = "LatestNews";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div style="background-color:lightcyan" class="jumbotron">

    <br />
  <span class="h3"> Click to Know your Top Candidates</span>  <input type="button" style="color:green" value="Click here" onclick="location.href = '@Url.Action("TopCandidatesForSlideshow", "UserDashboard")'" />
<br />
    <br />
    <h2>Latest News</h2>

   
    <div class="panel">
        <div class="panel-heading" style="background-color:royalblue;color:white">
            <span>
                International News
            </span>
        </div>
        <div class="panel-body" style="background-color:lightgreen">
            <span>
                Pakistan’s Peoples Party (PPP) chairman Bilawal Bhutto on Thursday called up Hurriyat chairman Mirwaiz Umar Farooq to deliver a <br />
                “solidarity” message: “Kashmir lives in Pakistan’s DNA.”Speaking to The... »
                MATE: Donald Trump with Indiana Gov. Mike Pence during a campaign event.<br />
                Indiana Governor Pence to be Trump’s V-P candidate
            </span>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" style="background-color:royalblue;color:white">
            <span>
                India
            </span>
        </div>
        <ul>
            
                <li>
                    <div class="panel-body" style="background-color:lightgreen">
                        Presumptive Republican presidential candidate Donald Trump is likely to pick Indiana Governor Mike Pence as his running mate,
                        media reports here said on Thursday. »
                        India with us on verdict, says China<br />

                        China continues to insist that it has India’s support over the international tribunal verdict on Tuesday that rejected China’s
                        claims in the South China Sea. » 1 comment
                        NATIONAL
                    </div>
                </li>
           
            <li>
                <div class="panel-body" style="background-color:lightgreen">
                       Tamil actor Siva Karthikeyan has a following among Telugu audience despite not working in Telugu films »
                        Kamal Haasan fractures leg, hospitalised<br />
                        On the last touring talkies in TN
                        Jyotika starts film with Bramma
                        ‘I was never self-conscious’: Kalpana Kartik
                    </div> 
            </li>
            <li>
                <div class="panel-body" style="background-color:lightgreen">
                   
                        WIDENING DRAGNET: The new deadline is aimed at bringing undeclared income and assets into the tax net. File photo
                        Income Declaration Scheme extended to September 2017
                        The previous deadline for the entire payment was November 30, 2016. »
                        Convenience fee on online air booking may go
                        BoE surprises by holding rates post Brexit vote
                        ENVIRONMENT
                </div>
            </li>
        </ul>

    </div>


<div class="panel">
    <div class="panel-heading" style="background-color:royalblue;color:white">
        <span>
            Sports
        </span>
    </div>
    <div class="panel-body" style="background-color:lightgreen">
        <span>
            Olympic team: Federation cuts flab
            Mudgal report to be sent to BCCI
            HEALTH
            Women from Basalikatte tanda in Ranebennur waiting outside Vidhana Soudha in Bengaluru on Monday. Photo: Bhagya Prakash K.
            More ‘unwanted hysterectomies’ come to light in Bengaluru
        </span>

    </div>
</div>


</div>