<div class="panel-body">

    @if (ViewBag.RequestSubmitted != null)
    {
        <span class="h4">
            Your Request has been submitted successfully ! Your Request Number is <span style="color:red" class="h2">@ViewBag.RequestSubmitted</span> 
        </span>

    }
  
</div>
