
 <div class="jumbotron">
<br />
     <br />
     <br />
     <span class="h2" style="color:black"> Thanks for your vote !! you voted to </span> <span class="h1" style="color:red"> @ViewBag.youVotedto </span>
     <br />
     <br />
     <br />
 </div>
    
    