@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
.imgClass{
width:auto;
border-left:none;
border-right:none;
border-bottom:none;
border-top:none;


}

.bodyBackgroundStyle {
    background-image: url("../../Images/Tri-color.jpg"); 
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
</style>




<body class="bodyBackgroundStyle">
    <!-- Section 1 starts -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-9">
                <div class="h1" style="color:darkred">
                    <br />  India's First E-Voting System
                </div>
            </div>
            <div class="col-md-9 col-lg-3">
                <div>
                    <img src="~/Images/evoting.png" style="image-resolution:initial;" class="imgClass col-md-4 col-md-offset-4 img-rounded img-responsive" />
                </div>
            </div>
            <div class="col-md-3 col-lg-9">
                <div class="customDiv">
                    <p class="lead jumbotron" style="background-color:transparent;font-size:15px;color:black">
                        <span class="h3" style="color:white">
                            Your Vote matters,Never miss it !! Imagine the advantages!<br />
                        </span>
                        Electronic voting (also known as e-voting) is voting using electronic means to either aid or take care of the chores of casting and counting votes.
                        A worthy e-voting system must perform most of these tasks while complying with a set of standards established by regulatory bodies,
                        and must also be capable to deal successfully with strong requirements associated with security, accuracy, integrity, swiftness, privacy,
                        auditability, accessibility, cost-effectiveness, scalability and ecological sustainability.
                    </p>
                </div>

            </div>

            <div class="col-md-9 col-lg-3">
                <div>
                    <img src="~/Images/btn-voteonlinelg.jpg" style="image-resolution:initial" class="imgClass col-md-4 col-md-offset-4  img-responsive img-circle" />
                </div>
            </div>
        </div>
    </div>
    <!-- Section 1 ends -->
    <!-- Section 2 starts -->
    <div class="container">

        <div class="panel-group" id="accordion">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample1">
                            <span class="h4"> Why we need e-voting?</span>
                        </a>
                    </h4>
                </div>

                <div id="collapseexample1" class="panel-collapse collapse">
                    <div class="panel-body">
                        We are living in a century where time is money.No body wants to waste a single minute for his day.
                        In india 30-40% voting goes in vein because either we are busy or we are in different state from where
                        it is not possible to go home for voting.This is the reason we are introducing this evoting system,
                        you will never miss your valuable vote.
                    </div>
                </div>


            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample2">
                            <span class="h4"> what are our visions? </span>
                        </a>
                    </h4>
                </div>

                <div id="collapseexample2" class="panel-collapse collapse">
                    <div class="panel-body">
                        We believe that we are on the face of the earth to provide  great services and that's not changing.
                        We are constantly focusing on innovating. We believe in the simple not the complex. We believe that we need to own and control the primary technologies behind the services that we provide,
                        and participate only in markets where we can make a significant contribution. We believe in saying no to thousands of projects, so that we can really focus on the few that are truly
                        important and meaningful to us. We believe in deep collaboration and cross-pollination of our groups,
                        which allow us to innovate in a way that others cannot. And frankly, we don't settle for anything less than excellence in every group in the company,and we have the self-honesty to admit when we're wrong and the courage to change.



                    </div>
                </div>


            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample3">
                            <span class="h4"> Our expectation from users </span>
                        </a>
                    </h4>
                </div>

                <div id="collapseexample3" class="panel-collapse collapse">
                    <div class="panel-body">
                        We would like to invite each indian to register there names to indian government online voting system from their
                        register page.It will be very helpful for us to serve our country and server our people.

                    </div>
                </div>


            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample4">
                            <span class="h4"> How to use this System ? </span>
                        </a>
                    </h4>
                </div>

                <div id="collapseexample4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul style="list-style:circle">
                            <li>Register your name from Homepage</li>
                            <li>Please collect your pancard,12th/graduate marksheet,and VoterId number while registering</li>
                            <li>Please took a recent and clear picture,this will be validating with the help of face recognization system at the time of voting </li>
                            <li>Please note down your user name and password at secure place</li>

                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>


    <!-- Section 2 ends -->
    <!-- Section 3 starts -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tbody>
                        <tr>
                            <td style="background-color:yellow;padding:15px 15px 15px 15px;margin-right:50px;border: 4px solid ;border-color:white;">
                                Register and Make yourself authorize for e-voting..
                                <button type="button" class="btn btn-lg btn-success h2" value="Log in" onclick="location.href = '@Url.Action("Register", "Account")'">  Register</button>

                            </td>
                            <td colspan="2" style="height:200px;width:300px;">
                                <div>
                                    <img src="~/Images/SatyamevJayate.png" style="image-resolution:initial;width:100px;height:200px;align-content:center" class="col-md-4 col-md-offset-4  img-responsive img-thumbnail" />
                                </div>
                            </td>
                            <td style="background-color:yellow;padding:15px 15px 15px 15px;margin-right:50px;border: 4px solid ;border-color:white;">
                                Already Registered? Log in here..  &nbsp;&nbsp;                            
                                    <button type="button" class="btn btn-lg btn-success h2" onclick="location.href = '@Url.Action("Login", "Authentication")'">  Login</button>
                           </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Section 3 Ends -->

</body>