
@{
    ViewBag.Title = "NotImplemented";
}

<div class="jumbotron">
    <div class="h1" style="color:red">       
        This will be completed soon . . . .<br /> 
        <img  src="~/Images/work-in-progress.png" style="align-content:center" width="900" height="400"/>      
        </div>


</div>

<h2></h2>

